@using WeatherService_2.Models
@*@Model WeatherService_2.Models.WeatherForecastModel*@ 

@{
    ViewData["Title"] = "Weather Forecast";
}

<div class="text-center">
    <h1 class="display-4">Weather Forecast</h1>
</div>

<div class="button" id="refreshButton"></div>

<table class="myTable">
    <thead>
        <tr>
            <th>Max Temo</th>
            <th>Min Temp</th>
            <th>Wind Speed</th>
            <th>Visibility</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in Model.consolidated_weather)
        {
            <tr>

                <td id="max_temp">@forecast.max_temp</td>
                <td id="min_temp">@forecast.min_temp</td>
                <td id="wind_speed">@forecast.wind_speed</td>
                <td id="visibility">@forecast.visibility</td>
               
            </tr>
        }

        </tbody>
</table>


<div id="content"></div>


@section Scripts{
    <script src="~/js/react.js/React.js"></script>
}